*.rej
*.orig
*~
/*.patch

*.d
*.o
*.o[ls]

/src/liburing.a
/src/liburing.so*
/src/liburing-ffi.a
/src/liburing-ffi.so*

/examples/io_uring-close-test
/examples/io_uring-cp
/examples/io_uring-test
/examples/io_uring-udp
/examples/link-cp
/examples/ucontext-cp
/examples/poll-bench
/examples/send-zerocopy
/examples/rsrc-update-bench

/test/*.t
/test/*.dmesg
/test/output/

config.log
config-host.mak

liburing.pc
liburing-ffi.pc

cscope.out

/bazel-*
